@-moz-document url-prefix("https://inbox.google.com/u/1/") {
.b4,
.b4 .at {
    background: #689600;
}
.gH {
    background-color: #3E5900;
}
.b2 {
    background-color: #86AB33;
}
.b4 .at::before {
    box-shadow: inset -24px 0 12px -12px #689600;
}
}
